<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Edit Show {{ show_number }}</title>
        <meta description='description' content='Edit show {{ show_number }}'>
        <meta charset='utf-8'>
        {% load static %}
        <link rel='stylesheet' type="text/css" href='{% static "shows_new_edit.css"%}'>
    </head>
    <body>
        <h1>Edit Show {{ show_number }}</h1>
        <a href="/shows">Go Back</a>
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <li {% if message.tags %}class='{{ message.tags }}'{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action='/shows/{{ show_number }}/update' method="POST">
            {% csrf_token %}
            <label for='title'>Title
                <input type='text' name='title'>   
            </label>
            <label for='network'>Network
                <input type='text' name='network'>
            </label>
            <label for='release'>Release Date
                <input type='datetime' name='release'>
            </label>
            <label for='desc'>Description
                <input type='textarea' name='desc'>
            </label>
            <button type='submit'>Update</button>
        </form>
        <form class='delete_form' action='/shows/{{ show_number }}/delete' method="POST">
            {% csrf_token %}
            <button type='submit'>Delete</button>
        </form>
        <a href='/shows/{{ show_number }}'>Go to Show</a>
    </body>
</html>